.check-out{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 90%;
    margin: 20px auto;
    color: white;
    border-radius: 15px;
    background-color: rgb(30, 28, 28);
    box-shadow: 0px 4px 4px black;
}
.title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.check-out-left input{
    margin-bottom: 8px;
    width: 100%;
    padding: 4px 7px;
    border-radius: 4px;
    background-color: rgb(185, 176, 176);
    border: 1px solid rgb(30, 28, 28);
}
.check-out-left input:focus{
    outline: none;
    border: 1px solid rgb(86, 85, 85);
    box-shadow:0px 0px 2px 2px rgb(86, 85, 85);
}
.p{
    margin-bottom: 5px;
}
.check-out-left .flex-field{
    display: flex;
    gap: 30px;
}
.summary-container{
    display: flex;
    justify-content: space-between;
}
.check-out-right{
    width: 25%;
}
.check-out-right-container{
    height: 405px;
    overflow-y: scroll;
}
.check-out-right-container::-webkit-scrollbar{
    display: none;
}
.horizontal-line{
    border: 2px solid gray;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.check-out-bottom{
    width: 25%;
}
.check-out-total-details{
    display: flex;
    justify-content: space-between;
}
.check-out-button {
    border: 1px solid grey;
    box-shadow: 0px 0px 2px 2px gray;
    background-color: rgb(30, 28, 28);
    color: white;
    width: 100%;
    padding: 12px 0px;
    margin-top: 15px;
    cursor: pointer;
}

.check-out-button:hover {
    background-color: gray;
    color: black;
    box-shadow: none;
}
@media (max-width:1025px){
    .check-out{
        width: 100%;
    }
}
@media (max-width:913px){
    .title{
        font-size: 22px;
    }
    .check-out-left{
        width: 40%;
    }
    .check-out-bottom{
        width: 20%;
    }
}
@media (max-width:769px){
    .title{
        font-size: 20px;
    }
    .check-out-left .flex-field{
        gap: 20px;
    }
}
@media (max-width:541px){
    .title{
        font-size: 25px;
    }
    .check-out{
        flex-direction: column;
        gap: 50px;
        background-color: rgb(159, 159, 159);
        box-shadow: none;
    }
    .check-out-left{
        background-color: rgb(30, 28, 28);
        box-shadow: 0px 4px 4px black;
        border-radius: 10px;
        padding: 30px;
    }
    .check-out-right{
        background-color: rgb(30, 28, 28);
        box-shadow: 0px 4px 4px black;
        border-radius: 10px;
        padding: 30px;
    }
    .check-out-bottom{
        background-color: rgb(30, 28, 28);
        box-shadow: 0px 4px 4px black;
        border-radius: 10px;
        padding: 30px;
    }
    .check-out-left .flex-field{
        display: flex;
        justify-content: space-between;
    }
    .check-out-left{
        width: 100%;
    }
    .check-out-right{
        width: 100%;
    }
    .check-out-bottom{
        width: 100%;
    }
}
@media (max-width:541px){
    .title{
        font-size: 20px;
    }
}