.addfoodcontainer {
    width: 100%;
    height: 100%;
}

.addfoodcontainer h2 {
    text-align: center;
    font-size: 30px;
}

.addfoodcontainer form {
    place-self: center;
    width: max(30vw, 330px);
    background-color: rgb(30, 28, 28);
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 15px;
    padding: 25px 30px;
    font-size: 14px;
    border-radius: 15px;
    animation: fadeIn 0.5s;
    color: white;
    box-shadow: 3px 3px 3px black;
}

.addfoodcontainer p {
    font-weight: 500;
}

.addfoodcontainer input,
.addfoodcontainer textarea,
.addfoodcontainer select {
    border: 2.5px solid gray;
    background-color: rgb(30, 28, 28);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: white;
}

.addfoodcontainer input:focus,
.addfoodcontainer textarea:focus,
.addfoodcontainer select:focus {
    box-shadow: 0px 0px 2px 2px gray;
    color: white;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.buttons input {
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    background-color: rgb(30, 28, 28);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px gray;
    font-size: 15px;
    cursor: pointer;
}

.buttons input:hover {
    background-color: gray;
    color: black;
    box-shadow: none;
}
@media(max-width:768px) {
    .addfoodcontainer h2 {
        font-size: 25px;
    }
}

@media(max-width:450px) {
    .addfoodcontainer h2 {
        font-size: 20px;
    }

    .addfoodcontainer form {
        width: 100%;
    }

    .addfoodcontainer input,
    .addfoodcontainer textarea,
    .addfoodcontainer select {
        padding: 5px;
    }
}