.login-popup {
    width: 100%;
    height: 100%;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    background-color: rgb(30, 28, 28);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    font-size: 14px;
    border-radius: 15px;
    margin-top: 50px;
    animation: fadeIn 0.5s;
    color: white;
    box-shadow: 3px 3px 3px black;
}

.login-popup-title {
    color: white;
    text-align: center;
}
.login-popup-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight:500;
}
.login-popup-title img {
    width: 25px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-popup-inputs input {
    border: 2.5px solid gray;
    background-color: rgb(30, 28, 28);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: white;
}
.login-popup-inputs input:focus{
    box-shadow: 0px 0px 2px 2px gray;
    color: white;
    outline: none;
}
.login-popup-container button {
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    background-color: rgb(30, 28, 28);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px gray;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.login-popup-container button:hover {
    background-color:gray;
    color: black;
    box-shadow: none;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
    font-weight: 500;
}
.question{
    font-weight: 500;
}
.login-popup-condition input {
    margin-top: 5px;
    cursor: pointer;
}
.login-popup-condition label{   
    cursor: pointer;
}
.login-popup p span {
    color: rgb(3, 3, 68);
    font-weight: 600;
    cursor: pointer;
}