.wishlist {
    margin-top: 30px;
}
.empty-message {
    margin-top: 40px;
}
.wishlist-page {
    margin-top: 40px;
}
.wishlist-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    row-gap: 50px;
}
.wishlist-container {
    display: flex;
    gap: 15px;
    padding: 10px;
    align-items: center;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgb(0, 0, 0);
    transition: 0.3s;
    animation: fadeIn 1s;
}
.wishlist-container:hover {
    scale: 1.02;
}
.wishlist-image-container img {
    margin: 10px 0px 0px 10px;
    height: 100px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
}
.wishlist-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 913px) {
    .wishlist-page {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 40px;
    }
}
@media (max-width: 541px) {
    .wishlist-page {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }
}
@media (max-width: 475px) {
    .wishlist-page {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}
@media (max-width: 431px) {
    .wishlist-page {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}
