.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000000db;
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(25vw, 380px);
    background-color: rgb(159, 159, 159);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    font-size: 14px;
    border-radius: 15px;
    animation: fadeIn 0.5s;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight:500;
}
.login-popup-title img {
    width: 25px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-popup-inputs input {
    border: none;
    box-shadow: 0px 0px 2px 2px rgb(54, 53, 53);
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(159, 159, 159);
    width: 100%;
}
.login-popup-inputs input:focus{
    box-shadow: 0px 0px 2px 2px black;
    outline: none;
}
.login-popup-container button {
    border: none;
    padding: 10px;
    background-color: rgb(159, 159, 159);
    border: 1px solid rgb(54, 53, 53);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgb(54, 53, 53);
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.login-popup-container button:hover {
    background-color: rgb(38, 33, 33);
    color: white;
    box-shadow: none;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
    font-weight: 500;
}
.question{
    font-weight: 500;
}
.login-popup-condition input {
    margin-top: 5px;
    cursor: pointer;
}
.login-popup-condition label{
    cursor: pointer;
}
.login-popup p span {
    color: rgb(3, 3, 68);
    font-weight: 600;
    cursor: pointer;
}