.order-placed-container {
    place-self: center;
    width: max(23vw, 330px);
    border-radius: 15px;
    box-shadow: 0px 0px 3px 3px black;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px 30px;
    font-size: 14px;
    margin-bottom: 158px;
}
.order-placed-container p{
    font-size: 30px;
}
.order-placed-container img{
    width: 12vw;
    border-radius: 50%;
}
.order-placed-container button{
    border: none;
    padding: 10px 20px;
    background-color: rgb(159, 159, 159);
    border: none;
    box-shadow: 0px 0px 3px 3px rgb(38, 33, 33);;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}
.order-placed-container button:hover{
    background-color: black;
    color: white;
    box-shadow: none;
}
@media (max-width:900px){
    .order-placed-container img{
        width: 20vw;
    }
}
@media (max-width:750px){
    .order-placed-container img{
        width: 30vw;
    }
}